<%- include('header'); -%>
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

</style>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow"> 
          <div class="card-header" style="background-color: #94618E; color: white;">
            <h3>Login</h3></div>
          <div class="card-body">
            <% if (errorMessage) { %>
              <div class="alert alert-danger" role="alert">
                  <%= errorMessage %>
              </div>
            <% } %>
            <form method="post" action="/login">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <div class="d-grid gap-2 my-2">
                <button type="submit" class="btn" style="background-color: #94618E; color: white;">Login</button>
              </div>
          
            </form>
            <div class="d-grid gap-2 my-2">
                <a href="/register" class="btn" style="background-color: #505db5; color: white;"">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
